html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Variables */
:root {
  /* /colors/ */
  --color-main: #02D6B9 ;
  --color-secondary: #125350 ;
  --color-accent: #EE7397 ;
  --color-text: #707070;
  --color-gray: #DEDEDE;

  /* /typography/ */
  --font-family: 'Lato', 'Helvetica-Neue', sans-serif;
  --base-font-size: 16px;

  /* /spacing/ */
  --s-xs: .5rem;
  --s-s: 1rem;
  --s-m: 2rem;
  --s-l: 3rem;
  --s-xl: 4rem;
}

/* Typograhy */
body {
  font-size: 16px;
  line-height: 1.333;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 400;
  font-family: var(--font-family);
  letter-spacing: 0.15em;
  margin: 0;
}


/* Links */
a, a:focus, a:hover  {
  color: #294C5B;
}

/* NavBar */
.menu-icon {
  color: var(--color-main);
}

.navMenu {
  text-transform: uppercase;
}

.mobileNav {
  font-size: 0.75em;
  text-transform: uppercase;
}

@media(max-width:33.9em) {
  .navbar .collapse {max-height:250px;width:100%;overflow-y:auto;overflow-x:hidden;}
  .navbar .navbar-brand {float:none;display: inline-block;}
  .navbar .navbar-nav>.nav-item { float: none; margin-left: .1rem;}
  .navbar .navbar-nav {float:none !important;}
  .nav-item{width:100%;text-align:left;}
  .navbar .collapse .dropdown-menu {
      position: relative;
      float: none;
      background:none;
      border:none;
    }
  }

.title-index {
  font-size: 35px;
  margin: 15px;
}

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  /* CSS botão */
}
btn-div {
  /* CSS botão */
}

.card {
  margin: 20px;
  margin-top: 0px;
  border: none;
}

.container.sobre-container {
  margin: none;
  padding: 0 50px;
}

/* Index - botão div */
.art-div {
  padding-bottom: 15px;
}
.card-index {
  border: none;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}


