/* CSS inicial */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body html {
  margin: 0;
  padding: 0;
}
.background {
  background-image: url('../imgs/background-triangule.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* Variables */
:root {
  /* /colors/ */
  --color-main: #02D6B9 ;
  --color-secondary: #125350 ;
  --color-accent: #EE7397 ;
  --color-text: #707070;
  --color-gray: #DEDEDE;

  /* /typography/ */
  --font-family: 'Lato', 'Helvetica-Neue', sans-serif;
  --base-font-size: 16px;

  /* /spacing/ */
  --s-xs: .5rem;
  --s-s: 1rem;
  --s-m: 2rem;
  --s-l: 3rem;
  --s-xl: 4rem;
}

/* Typograhy */
body {
  font-size: 16px;
  line-height: 1.333;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 400;
  font-family: var(--font-family);
  letter-spacing: 0.15em;
  margin: 0;
}


/* Grid */
.card-body {
  margin: 20px;
  margin-top: 0px;
  border: none;
}
.container.sobre-container {
  margin: none;
  padding: 0 50px;
}
.margin-nav {
  margin-right: 50px;
}
.margin-button {
  margin-left: 30px;
  margin-right: 30px;
}

/* Grid - Contato */
.form-contato {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}


/* Links */
a, a:focus, a:hover  {
  color: #294C5B;
}

/* NavBar */
.menu-icon {
  color: var(--color-main);
}

.navMenu {
  text-transform: uppercase;
}

.mobileNav {
  font-size: 0.75em;
  text-transform: uppercase;
}
.container-navbar {
  margin-left: 0px;
  margin-right: 0px;
}

@media(max-width:33.9em) {
  .navbar .collapse {max-height:250px;width:100%;overflow-y:auto;overflow-x:hidden;}
  .navbar .navbar-brand {float:none;display: inline-block;}
  .navbar .navbar-nav>.nav-item { float: none; margin-left: .1rem;}
  .navbar .navbar-nav {float:none !important;}
  .nav-item{width:100%;text-align:left;}
  .navbar .collapse .dropdown-menu {
      position: relative;
      float: none;
      background:none;
      border:none;
  }
}

/* Index */
.title-index {
  font-size: 4em;
  text-align: left;
  font-weight: bold;
  margin: 15px;
  color: #24A69F;
  letter-spacing: 0;
  font-family: "Avenir Next" !important;
}
.subtitle-index {
  font-size: 1.8em;
  text-align: left;
  font-weight: 400;
  margin-left: 15px;
  color: #646464;
  letter-spacing: 0;
  font-family: "Avenir Next" !important;
}
@media screen and (min-width: 1000px) {
  .title-index {
    font-size: 65px;
  }
}
@media screen and (max-width: 1000px) {
  .title-index {
    font-size: 45px;
  }
}
@media screen and (min-width: 1000px) {
  .subtitle-index {
    font-size: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .subtitle-index {
    font-size: 20px;
  }
}

/* Botões */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: var(--color-accent);
}

.btn-div {
  margin-top: 45px;
  text-transform: uppercase;
  background-color: var(--color-accent);
  border-radius: 25px;
  border: none;
  letter-spacing: 0;
  font-size: 30px;
  padding: 17px 32px 17px 32px;
}
.btn-contato {
  background-color: var(--color-secondary);
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
}

/* Imagens */
img {
  display: block;
  max-width: 100%;
  height: auto;
}


