/**********************
* SUMÁRIO DO SITE *
* 1. Imports (Bootstrap, Fontes, etc)
** 2. CSS Base (Reset)
*** 3. Variáveis
**** 4. Tipografia
***** 5. Links
***** 5.1 Botões
****** 6. Widgets
******* 7. Navbar
******** 8. Heading/Hero Section
********* 9. Seções de Informação
********** 10. Contato
**********************/


/* 1. Imports */
@import url('bootstrap.min.css');
@import url('all.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


/* 2. CSS Base */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body html {
  margin: 0;
  padding: 0;
}

/* 3. Variáveis */
:root {
  /* /colors/ */
  --color-main: #24A69F;
  --color-secondary: #125350 ;
  --color-accent: #EE7397;
  --color-accent-d: #9C669B;
  --color-text: #707070;
  --color-gray: #DEDEDE;

  /* /typography/ */
  --font-family: 'Lato', 'Helvetica-Neue', sans-serif;
  --base-font-size: 16px;

  /* /spacing/ */
  --s-xs: .5rem;
  --s-s: 1rem;
  --s-m: 2rem;
  --s-l: 3rem;
  --s-xl: 4rem;
}

/* 4. Tipografia */
body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 400;
  font-family: var(--font-family);
  margin: 0;
  overflow-x: hidden;
}

/* Grid - Contato */
.form-contato {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}


/* 5. Links */
a, a:focus, a:hover  {
  color: #294C5B;
}

/* 5.1 Botões */

.botao-sympla {
  text-align: center;
}

.btn-mudar {
  background-color: var(--color-accent);
  padding: 13px 26px;
  border-radius: var(--s-xl);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  display: inline-block;
}

.btn-mudar_cta {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.btn-mudar:hover,
.btn-mudar:focus {
  background-color: var(--color-accent-d);
}

.btn-contato {
  background-color: var(--color-secondary);
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
}

/* 6. Widgets */
.widget-sympla {
  margin: 2rem auto;
}

/* 7. NavBar */
.navbar {
  /* background-color: var(--color-gray); */
}

.menu-icon {
  color: var(--color-main);
}

.navMenu {
  text-transform: uppercase;
}

.mobileNav {
  font-size: 0.75em;
  text-transform: uppercase;
}
.container-navbar {
  margin-left: 0px;
  margin-right: 0px;
}

@media(max-width:33.9em) {
  .navbar .collapse {max-height:250px;width:100%;overflow-y:auto;overflow-x:hidden;}
  .navbar .navbar-brand {float:none;display: inline-block;}
  .navbar .navbar-nav>.nav-item { float: none; margin-left: .1rem;}
  .navbar .navbar-nav {float:none !important;}
  .nav-item{width:100%;text-align:left;}
  .navbar .collapse .dropdown-menu {
      position: relative;
      float: none;
      background:none;
      border:none;
  }
}

/* 8. Heading/Hero Section */

.hero-container {
  padding: 2rem 0rem;
  /* background-color: var(--color-gray); */
}

.hero-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.bg-retangulo::after {
  content: "";
  position: absolute;
  overflow-x: hidden;
  z-index: -1;
  top: 25vh;
  left: 60vw;
  width: 600px;
  height: 600px;
  background: transparent linear-gradient(221deg, #EE7397 0%, #9C669B 38%, #645E9D 100%) 0% 0% no-repeat padding-box;
  opacity: 0.2;
}

.bg-triangulo::before {
  content: "";
  position: absolute;
  overflow-x: hidden;
  z-index: -1;
  top: 15vh;
  left: 55vw;
  border-left: 325px solid transparent;
  border-right: 325px solid transparent;
  border-bottom: 650px solid var(--color-main);
  opacity: .75;
}

.heading-title {
  font-weight: bold;
  color: var(--color-main);
  letter-spacing: 0;
  margin-bottom: var(--s-xs);
}

.heading-sub {
  display: flex;
  align-items: center;
  margin-bottom: var(--s-m);
}

.heading-subtitle {
  margin-right: var(--s-s);
  color: var(--color-text);
}

/* 9. Seções de Info */
.evento {
  padding: 1rem 0rem;
}

.evento-img_mic::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  border-radius: 100%;
  border: 3px dashed var(--color-gray);
}

.sobre-heading {
  color: var(--color-main);
  font-weight: bold;
  margin-bottom: var(--s-m);
}

.sobre-paragrafo {
  margin-bottom: var(--s-l);
}

.p-highlight {
  display: inline-block;
  border-bottom: 1px solid transparent;
  font-weight: bold;
}

.p-highlight:hover {
  border-bottom: 1px solid var(--color-main);
}

.evento-info {
  padding: 4rem 0rem;
  background: transparent linear-gradient(157deg, #277275 0%, #26C0B3 100%) 0% 0% no-repeat padding-box;
  color: #ffffff;
}

.info-calendar,
.info-horario,
.info-local {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.evento-info span {
  margin-right: var(--s-s);
}

.info-local .local-detalhe h3 {
  margin-bottom: var(--s-xs);
}

.info-local .local-detalhe p {
  color: var(--color-gray);
}

.hcg {
  padding: 2rem 0rem;
}

.pargrafo-wrapper {
  max-width: 25rem;
  margin: 0rem 2rem;
}

.logos-combinadas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hcglogo {
  margin: 1rem 2rem 2rem;
}

.logomudaromundo {
  display: block;
}